# Laravel
/node_modules
/public/storage
/vendor

# env file
.env

# Homestead
Homestead.json
Homestead.yaml

# JetBrains
/.idea

# ide-helper
.phpstorm.meta.php
_ide_helper*.php

# Composer
composer.lock

# 开发时暂时排除编译完成的静态资源
# public
/public/css/*
/public/js/*
/public/images/*
/public/fonts/*