// 窄屏


.header-sidebar-panel {

  // 快速导航
  .header-fast-nav {
    margin-top: 25px;
  }


  // 全部 header 中的 ul 的定义，为了性能考虑加上类
  .nav-ul {
    font-size: 1.125rem;
  }


  .header-nav {
    min-height: 0;
  }


  .header-socially {
    margin-top: 0;
  }



}