// Header
// 名为头部的边栏，外层容器见 sidebar.scss

.header-sidebar-panel {

  // 所有的 link，可后台自定义
  .h-link {
    color: $header-font-color;

    &:hover {
      color: $header-hover-font-color;
    }
  }


  // 收缩按钮
  .h-in-btn {                                       // in => display
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-header-in-btn-width; // 10px
    height: 100%;
    z-index: 3;

    .h-in-span {
      position: absolute;
      top: 40%;
      left: 0;
      width: $sidebar-header-in-span-width;   // 15px
      height: $sidebar-header-in-span-height; // 60px
      line-height: $sidebar-header-in-span-line-height;   // 60px
      background-color: $sidebar-header-in-span-bg-color; // #ccc
      border-top-right-radius: 140px;
      border-bottom-right-radius: 140px;
      cursor: pointer;
      opacity: 0;
      transition: opacity .3s ease-out;
    }

    &:hover .h-in-span {
      opacity: 1;

      &:hover {
        background-color: $sidebar-header-in-span-hover-bg-color;
      }
    }
  }


  // 展开按钮
  .h-out-btn {
    display: none;                                  // in
  }


  // 头像背景
  .h-overlay {                                      // in => display
    position: absolute;
    height: $header-overlay-height; // 200px
    width: 100%;
    background: {
      color: $header-overlay-bg-color; // #222
      repeat: no-repeat;
      size: cover;
      position-y: 40%;
    };
    overflow: hidden;
    filter: blur(3px); // TODO 用js实现
  }


  .h-panel {
    margin-top: $header-panel-margin-top; // 200px  // in
    padding: 60px 30px 0;                           // in, mobile
    text-align: center;
    color: $header-font-color;                      // in
    // word-break: break-all; // 强制换行
  }


  // 大标题和副标题
  .h-title {                                        // in => display, mobile => h1, h4
    margin: .3rem 0 1rem; // ~4.8px 16px            // mobile
    font-family: $header-title-font-family;
  }

  h4.h-title {
    font-size: $header-title-subtitle-font-size; // ~15px
    color: $header-title-subtitle-color; // #696969
  }


  // 快速导航
  .h-fast-nav {                                     // in => padding
    display: table;                                 // in
    margin: 50px auto 0;                            // narrow
    font-size: $header-fast-nav-font-size; // ~14px
    line-height: $header-fast-nav-line-height; // ~26px

    .fa {
      display: none;
    }
  }

  .h-fast-nav-item {                                // in => padding
    display: table-cell;                            // in
    cursor: pointer;
    border-right: 1px solid $header-fast-nav-border-color; // in

    &:hover {
      color: $header-hover-font-color;              // in
    }

    p {
      margin: 0;
      padding: 0 15px;                              // in
    }
  }


  // 全部 header 中的 ul 的定义，为了性能考虑加上类
  .h-nav-ul {
    padding: 0;
    font-size: $header-nav-ul-font-size;            // narrow
  }


  // 站内链接和站外链接的导航
  .h-nav {
    display: flex;
    min-height: $header-nav-min-height; // 140px
    margin-top: 16px;
    flex-direction: column;
    justify-content: flex-end;

    .h-nav-item {
      margin: 8px 0;
    }
  }


  // 社交按钮
  .h-socially {
    margin-top: 60px;                               // narrow

    .h-socially-item {
      display: inline-block;
      padding: 6px 8px;
    }
  }
}


.logo {                                             // in => margin-top
  position: absolute;                               // in
  top: calc(#{$header-panel-margin-top} - 112 / 2); // 200 - 112 / 2 = 144
  left: calc(#{$layout-left-width} / 2 - 112 / 2);  // width / 2 - 112 / 2
  height: 112px;                                    // in, mobile
  width: 112px;                                     // in, mobile
  border: 3px solid $header-logo-border-color;      // mobile
  border-radius: $header-logo-border-radius;
  background-color: #fff;                           // in

  &:hover {
    box-shadow: 0 0 1rem $header-logo-hover-border-color;
    border-color: $header-logo-hover-border-color;
  }
}


// TODO
// 是否添加快速导航栏，如关于
// 添加面包屑，展开后是TOC