// Header
// 名为头部的边栏，外层容器见 sidebar.scss

.header-sidebar-panel {

  // 所有的 link，可后台自定义
  .h-link {
    color: $header-font-color;

    &:hover {
      color: $header-hover-font-color;
    }
  }


  // 收缩按钮
  .h-slide-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-header-slide-btn-width; // 10px
    height: 100%;
    z-index: 3;

    .h-slide-span {
      position: absolute;
      top: 40%;
      left: 0;
      width: $sidebar-header-slide-span-width;   // 20px
      height: $sidebar-header-slide-span-height; // 60px
      line-height: 60px;
      background-color: $sidebar-header-slide-span-bg-color; // #ccc
      border-top-right-radius: 140px;
      border-bottom-right-radius: 140px;
      cursor: pointer;
      opacity: 0;
      transition: opacity .3s ease-out;
    }

    &:hover .h-slide-span {
      opacity: 1;

      &:hover {
        background-color: $sidebar-header-slide-span-hover-bg-color;
      }
    }
  }


  // 头像
  .h-overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    background: {
      color: #222;
      repeat: no-repeat;
      size: cover;
      position-y: 40%;
    };
    overflow: hidden;
    filter: blur(3px); // TODO 用js实现
  }


  .h-panel {
    margin-top: 200px;
    padding: 60px 30px 0;                    // mobile => 15px 15px 0
    text-align: center;
    color: $header-font-color;
    // word-break: break-all; // 强制换行
  }


  // 大标题和副标题
  .h-title {                                // mobile => h1, h4
    margin: .3rem 0 1rem; // ~4.8px 16px    // mobile => .875rem 0 // ~14px
    font-family: $header-title-font-family;
  }

  h4.h-title {
    color: #696969;
  }


  // 快速导航
  .h-fast-nav {
    display: table;
    margin: 50px auto 0; // narrow => 25px auto 0

    .h-fast-nav-item {
      display: table-cell;
      cursor: pointer;

      p {
        margin: 0;
        padding: 0 15px;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .h-fast-nav-center {
      border: 1px solid #ccc;
      border-top: none;
      border-bottom: none;
    }
  }


  // 全部 header 中的 ul 的定义，为了性能考虑加上类
  .h-nav-ul {
    padding: 0;
    font-size: 1.25rem; // narrow => 1.125rem
  }


  // 站内链接和站外链接的导航
  .h-nav {
    display: flex;
    min-height: 250px; // narrow => 0
    margin-top: 16px;
    flex-direction: column;
    justify-content: center;

    .h-nav-item {
      margin: 8px 0;
    }
  }

  .h-socially {
    margin-top: 60px; // narrow => 0

    .h-socially-item {
      display: inline-block;
      padding: 6px 8px;
    }
  }
}


.logo {
  position: absolute;
  top: 144px;                                       // 200 - 112 / 2 = 144
  left: calc(#{$layout-left-width} / 2 - 112 / 2);  // width / 2 - 112 / 2
  height: 112px;                                // mobile => 84px
  width: 112px;                                 // mobile => 84px
  border: 3px solid $header-logo-border-color;  // mobile => #fff
  border-radius: $header-logo-border-radius;
  background-color: #fff;

  &:hover {
    box-shadow: 0 0 1rem $header-logo-hover-border-color;
    border-color: $header-logo-hover-border-color;
  }
}



.header-in {
  .h-slide-btn,
  .h-overlay,
  .logo,
  .h-panel {
    display: none;
  }

  .header-sidebar-panel {
    width: 70px;
    background-color: #222;
  }

  .content-box {
    left: 90px;
  }
}