// Layout
// 右侧主体框架结构

.content-box {
  position: absolute;
  right: 0;
  left: $layout-left-width;
  min-height: 100%;


  //.content {
  //
  //}


  .post {
    margin: 35px;
    border: {
      top: $post-border-top;
      right: $post-border-right;
      bottom: $post-border-bottom;
      left: $post-border-left;
    };
    background-color: $post-bg-color;
  }
}
