// Layout
// 右侧主体框架结构

.content-box {                            // mobile => background-color: #fff
  position: absolute;                     // mobile => static
  right: 0;
  left: $layout-left-width;
  min-height: 100%;
  transition: all .1s ease-out .3s;


  //.content {
  //
  //}


  .post {
    margin: 35px;                         // mobile => 0
    border: {                             // mobile => 0
      top: $post-border-top;
      right: $post-border-right;
      bottom: $post-border-bottom;
      left: $post-border-left;
    };
    background-color: $post-bg-color;     // mobile => #fff
    @include box-shadow($post-box-shadow);// mobile => none
  }
}
