// List
// 列表页面

.post-header {
  padding: 30px 0 0 $post-padding-left;

  &::after {
    @include clearfix;
  }


  // title
  .post-title {
    display: inline-block;
    line-height: 3rem;
  }


  // 浏览人数
  .post-view-count {
    float: right;
    margin-right: $post-view-count-margin-right;
    line-height: 3rem; // 与上面 h2 的 line-height 匹配

    &::before {
      @include padding-right();
    }
  }
}


.post-content {
  margin-top: 10px;
  padding: 0 $post-content-padding-lr;
  line-height: $post-content-line-height;
}


// more link
.post-more {
  margin-top: 20px;
  padding: 0 $post-more-link-padding-lr;

  .post-more-link {
    padding: $post-more-link-padding;
    font-size: $post-more-link-font-size;
    border-radius: $post-more-link-border-radius;
    color: $post-more-link-font-color;
    background-color: $post-more-link-bg-color;

    &:hover,
    &:focus {
      background-color: $post-more-link-hover-bg-color;
    }
  }
}


.post-footer {
  margin: 30px $post-footer-margin-lr 0;
  padding-top: 20px;
  min-height: 70px;
  border-top: 1px solid $post-footer-border-top-color;


  .post-footer-item {
    display: inline-block;
    margin-right: 25px;
    padding-left: 0;
    color: $post-footer-font-color;
  }


  // tag 项
  .tag-item {
    display: inline-block;
    margin-right: 8px;
  }


  // for font awesome
  .fa {
    &::before {
      @include padding-right();
    }
  }
}





.error {
  h2 {
    color: red;
  }
}

.pagination {
  @extend .post;
}
