// Loading
// https://github.com/ConnorAtherton/loaders.css


.ball-beat-mask {
  text-align: center;


  .ball-beat {
    display: inline-block;
    width: $loading-ball-width;
    height: $loading-ball-height;
    margin: 2px;
    border-radius: $border-radius-round;
    background-color: $loading-ball-color;
    animation: ball-beat .7s 0s infinite linear;
  }


  .beat-even {
    animation-delay: -.35s;
  }
}


@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}