// NProgress v0.2.0
// https://github.com/rstacruz/nprogress/
// 已在 package.json 指定 0.2.0 版本
// 已进行部分样式和结构的修改
// 可在 variables 中搜索 nprogress-color 修改颜色

// Make clicks pass-through
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $nprogress-color;
    z-index: 1031;
  }

  // Fancy blur effect 模糊效果
  .peg {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
    opacity: 1;

    -ms-transform: rotate(3deg) translate(0px, -4px); // For IE 9
    transform: rotate(3deg) translate(0px, -4px);
  }

  // Remove these to get rid of the spinner 旋转指示，移除
  //.spinner {
  //  position: fixed;
  //  top: 15px;
  //  right: 15px;
  //  display: block;
  //  z-index: 1031;
  //}

  //.spinner-icon {
  //  width: 18px;
  //  height: 18px;
  //  box-sizing: border-box;
  //  border: solid 2px transparent;
  //  border-top-color: $nprogress-color;
  //  border-left-color: $nprogress-color;
  //  border-radius: 50%;
  //
  //  animation: nprogress-spinner 400ms linear infinite;
  //}
}


//.nprogress-custom-parent {
//  overflow: hidden;
//  position: relative;
//
//  #nprogress .spinner,
//  #nprogress .bar {
//    position: absolute;
//  }
//}


//@keyframes nprogress-spinner {
//  0%   { transform: rotate(0deg); }
//  100% { transform: rotate(360deg); }
//}